<h3><small>Cardápio do restaurante:</small> {{ restaurante.nome }}</h3>
<h2><small>Categoria do cardápio: </small> {{ categoria.nome }}</h2>

<td><a class="btn btn-primary my-1" [routerLink]="['/restaurantes',restaurante.id, 'cardapio', cardapio.id, 'categoria', categoria.id, 'item']">Adicionar</a></td>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Preço Promocional</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categoria.itens">
      <td>{{ item.nome }}</td>
      <td>{{ item.preco  | currency:'BRL'  }}</td>
      <td>{{ item.precoPromocional  | currency:'BRL'  }}</td>
      <td class="text-right">
        <button class="btn btn-secondary mr-1 mb-1 mb-lg-0" [routerLink]="['/restaurantes',restaurante.id, 'cardapio', cardapio.id, 'categoria', categoria.id, 'item', item.id]">Editar</button>
        <button class="btn btn-danger" (click)="removerItemCardapio(item)">Remover</button>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-default" [routerLink]="['/restaurantes',restaurante.id]">Voltar</a>
